@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-medium;
    @apply text-offBlack;
    @apply text-md;
  }
}

@layer components {
  .linkTextNavigation {
    @apply decoration-[0.1em] underline-offset-[0.1em] hover:underline text-offBlack hover:text-lightGray;
  }

  .portableText {
    ol {
      list-style-type: decimal;
    }
    ol ol {
      list-style-type: lower-alpha;
    }

    ol ol ol {
      list-style-type: lower-roman;
    }

    ul {
      list-style: disc outside;
    }

    ul ul {
      list-style: circle outside;
    }
    ul ul ul {
      list-style: square outside;
    }
  }

  :root {
    --bg-blue: #4357AD;
    --bg-offBlack: #0E0F19;
  }

  .select {
    align-items: center;
    background-color: theme('colors.lightGray');
    border-radius: theme('borderRadius.full');
    color: theme('colors.offBlack');
    display: flex;
    font-size: theme('fontSize.sm');
    font-weight: theme('fontWeight.bold');
    height: 2.5rem;
    justify-content: center;
    letter-spacing: theme('letterSpacing.normal');
    overflow: hidden;
    padding: theme('padding.4');
    transition: all 200ms ease-out;
  }

  .bleed {
    position: relative;
    width: 108%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .angle:before {
    content: "";
    background: theme('colors.blue');
    height: 40px;
    transform: skewY(1deg);
    position: absolute;
    top: -22px;
    left: 0;
    right: 0;
    z-index: -1;
}

.angle:after {
    content: "";
    background: theme('colors.blue');
    height: 80px;
    transform: skewY(358deg);
    position: absolute;
    bottom: -26px;
    left: 0;
    right: 0;
    z-index: -1;
}

.two-col ul li {
  line-height: 1.6;
  margin-left: 1.5rem;
}

.pricing-block p {  
  padding-bottom: 1.5rem;
}

.pricing-block > .grid > div {
  background:theme('colors.green');  
  position: relative;
  box-shadow: 6px 6px 6px -2px rgba(168,168,168,0.75);
  -webkit-box-shadow: 6px 6px 6px -2px rgba(168,168,168,0.75);
  -moz-box-shadow: 6px 6px 6px -2px rgba(168,168,168,0.75);
}

.pricing-block > .grid > div:last-of-type:after {
  border-right: 10px solid transparent;
} 

.pricing-block > .grid > div:first-of-type:after {
  border-top: 10px solid transparent;
  border-bottom: 10px solid  theme('colors.green');
  border-left: 10px solid transparent;
  top: -20px;
  bottom: auto;
} 

.pricing-block > .grid > div:first-of-type {
  top: 10px;
}



.pricing-block > .grid > div:after{
  left: 0px;
  bottom: -20px;
  border-top: 10px solid theme('colors.green');
  border-bottom: 10px solid transparent;
  content:""; 
  display: block;
  position: absolute;
  width: 100%;
} 


.pricing-block > .grid > div ul li {
  list-style: disc;
  line-height: 1.6;
  margin-left: 1.5rem;
}

.pricing-block > .grid > div h3 {
  text-shadow: 1px 1px 2px theme('colors.offBlack')
}

.pricing-block > .grid > div h4 {
  padding-top: 2rem;
}

.pricing-block > .grid > div h4 span {
  display: block;
  font-size: 1rem;
}

  .select:disabled {
    color: theme('colors.darkGray');
  }

  .select:hover:not(:disabled) {
    opacity: 0.9;
  }
}

* {
  font-variant-ligatures: none;
}

html {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

p {
  line-height: 1.6;

}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}
.steps_wrapper {
  width: 400px;
  margin: 50px auto;
  background: #f1f1f2;
  padding: 20px;
}

.step {
  text-align: center;
  margin-bottom: 20px;
}

.steps_wrapper h1 {
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form label {
  font-size: 13px;
  padding-top: 15px;
  margin-bottom: 4px;
}

.form input {
  padding: 5px;
}

.steps_data {
  display: flex;
  justify-content: space-evenly;
}

ul {
  text-align: left;
}

button {
  padding: 5px 15px;
  margin: 2px;
}
